In [1]:
print("Hello, World!")

Hello, World!

In [15]:
# Basic Python Practice, Variables & Data Types
name = "Shahid Ali"
age = 25
is_student = True

print("My name is", name, "and I am", age, "years old.", "Is student.", is_student)
print("Is", name, "a student?", is_student)

My name is Shahid Ali and I am 25 years old. Is student. True
Is Shahid Ali a student? True

In [16]:
# get users Input & print Output
name = input("Enter your name:")
age = int(input("Enter your age"))

print(f"Hello {name} you are {age} years old")

Enter your name:shahid
Enter your age25
Hello shahid you are 25 years old

In [14]:
# Conditional Statements (if-else) Even/Odd Number Check
num = int(input("Enter a number"))

if num % 2 == 0:
  print(f"{num} is even.")

else:
    print(f"{num} is odd")

Enter a number4
4 is even.

In [19]:
# Loops (for & while)
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
# While Loop - Countdown Timer
count = 5
while count > 0:
  print(count)
  count -= 1
  print("Happy Birthday!")

5
Happy Birthday!
4
Happy Birthday!
3
Happy Birthday!
2
Happy Birthday!
1
Happy Birthday!

In [29]:
# Functions Sum of Two Numbers
def add_numbers(a, b):
  return a + b
  print(add_numbers(5,10))

In [31]:
# Lists & Loops
fruits = ["Apple", "Banana", "Mango", "Grapes"]
for fruit in fruits:
  print(fruit)

Apple
Banana
Mango
Grapes

In [34]:
# Find Maximum in a List
numbers = [12, 55, 34, 99, 35]
print(max(numbers))

99